// Screen Sizes
$max-width: 1920px;
$min-width: 375px;

// Colors
$dark-blue: hsl(209, 23%, 22%);
$very-dark-blue-DM: hsl(207, 26%, 17%);
$very-light-gray: hsl(0, 0%, 98%);
$dark-gray: hsl(0, 0%, 52%);

// Typography
$homepage-items: 0.875rem;
$detail-page: 1rem;

// Fonts
$main-font: "Nunito Sans", sans-serif;

// Font Weights
$light-weight: 300;
$medium-weight: 600;
$heavy-weight: 800;
