@import "../../../util/variables";

.search-form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-left: 3%;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 0px 5px -2px gray;
  width: 450px;
  height: 55px;

  img {
    height: auto;
    width: 1em;
    padding: 0 1em;
  }
  .search__inputBar {
    height: 2em;
    border: none;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}
